@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  CSS Global Variables */
:root {
  --gold: #FFD700;
  --black: #000000;
  --white: #FFFFFF;
  --gridpads: 20px;
}

body {
  background: var(--black);
  background-size: cover;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: inherit !important;
  text-shadow: inherit !important;
  color: inherit !important;
} 

.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  background: radial-gradient(var(--white) 90%, var(--gold));
  background-size: cover;
  padding: 20px;
  box-shadow:
    /* in order: x offset, y offset, blur size, spread size, color */
    0 0 2px 2px var(--gold);
  text-decoration: none;
  text-align: center;
  color: var(--black);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
  background: var(--gold);
  background-size: cover;
}

/***** Navigation *****/
header {
  display: grid;
  grid-template-areas:
    "logo name";
  grid-template-columns: 10% 1fr;
  background: white;
  font-size: 32pt;
  text-align: left;
  color: var(--gold);
  text-shadow: 1px 1px 10px 10px var(--white);
  padding: var(--gridpads);
  transition: transform .2s;
}
header:hover {
  transform: scale(1.05);
  cursor: pointer;
}
navig {
  display: grid;
  grid-template-areas:
    "link1 link2 link3 link4";
  grid-template-columns: 25% 25% 25% 25%;
  background: green;
  font-size: 20pt;
  align-items: center;
  color: var(--gold);
  padding: var(--gridpads);
  transition: transform .2s;
}
navig:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/***** Call to Action *****/
action {
    display: grid;
  grid-template-areas:
    "call photo1";
  grid-template-columns: 50% 50%;
  background: red;
}

photo1 {
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  padding: var(--gridpads);
  transition: transform .2s;
}
photo1:hover {
  transform: scale(1.05);
}

logo, link1, link2, link3, link4, projects, contribute, instagram, twitter, youtube, blog1, blog2, blog3, photo2, about, footer {
  text-align: center;
  background: red;
  padding: var(--gridpads);
}

#pageHeader {
  grid-area: header;
}
#pageLogo {
  grid-area: logo;
}
#pageName {
  grid-area: name;
}
#pageNavig {
  grid-area: navig;
}
#pageLink1 {
  grid-area: link1;
}
#pageLink2 {
  grid-area: link2;
}
#pageLink3 {
  grid-area: link3;
}
#pageLink4 {
  grid-area: link4;
}
#mainAction {
  grid-area: action;
}
#mainCall {
  grid-area: call;
}
#mainPhoto1 { 
  grid-area: photo1;      
}
#pageProjects { 
  grid-area: projects; 
}
#pageContribute { 
  grid-area: contribute; 
}
#feedInstagram { 
  grid-area: instagram; 
}
#feedTwitter { 
  grid-area: twitter; 
}
#feedYoutube { 
  grid-area: youtube; 
}
#feedBlog1 { 
  grid-area: blog1; 
}
#feedBlog2 { 
  grid-area: blog2; 
}
#feedBlog3 { 
  grid-area: blog3; 
}
#mainPhoto2 { 
  grid-area: photo2; 
}
#mainAbout { 
  grid-area: about; 
}
#pageFooter { 
  grid-area: footer; 
}
