body {
    background: #000000;
    background-size: cover;
    padding: 100px;
    font-family: Arial;
    color: #FFFFFF;
    display: grid;
    grid-template-areas: 
        "header header header"
        "action photo1 photo1"
        "projects contribute contribute"
        "blog1 blog2 blog3"
        "instagram twitter youtube"
        "photo2 about about"
        "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 33% 1fr 33%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    align-items: center;
    grid-auto-flow: dense;
}

header {
    color: #FFD700;
    padding: 20px;
    font-size: 48pt;
    background: green;
}

photo1 {
    padding: 20px;
    border-radius: 10px;
    background: blue;
    margin: auto;
}

action, projects, contribute, instagram, twitter, youtube, blog1, blog2, blog3, photo2, about, footer {
    padding: 20px;
    background: red;
}

#pageHeader {
    grid-area: header;
}
#mainAction {
    grid-area: action;
}
#mainPhoto1 { 
    grid-area: photo1;      
}
#pageProjects { 
    grid-area: projects; 
}
#pageContribute { 
    grid-area: contribute; 
}
#feedInstagram { 
    grid-area: instagram; 
}
#feedTwitter { 
    grid-area: twitter; 
}
#feedYoutube { 
    grid-area: youtube; 
}
#feedBlog1 { 
    grid-area: blog1; 
}
#feedBlog2 { 
    grid-area: blog2; 
}
#feedBlog3 { 
    grid-area: blog3; 
}
#mainPhoto2 { 
    grid-area: photo2; 
}
#mainAbout { 
    grid-area: about; 
}
#pageFooter { 
    grid-area: footer; 
}
