@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  CSS Global Variables */
:root {
  --gold: #FFD700;
  --black: #000000;
  --white: #FFFFFF;
  --gridpads: 5px;
  --gridgaps: 5px;
}

body {
  margin: 0;
  background: var(--black);
  background-size: cover;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
}

/***** Dividing Lines *****/
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -50px;
  margin-right: -50px;
  background-color: var(--gold);
  height: 2px;
  border: none;
}

/***** Heading Text *****/
/* h1 Styled Elsewhere */
h2 {
  margin: 0;
  font-size: 24pt;
  text-align: center;
  color: var(--gold);
}
h3 {
  margin: 0;
  font-size: 14pt;
  text-align: center;
  color: var(--white);
}
h4 {
  margin: 0;
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
  color: var(--white);
}
h5, h6 {
  margin: 0;
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  color: var(--white);
}

/***** Images *****/
img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/***** Videos *****/
.videocontainer {
  position: relative;
  /* 16:9 aspect ratio */
  width: 100%;
  padding-bottom: 56.25%;
}
.latestVideoEmbed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/***** Action Buttons *****/
.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 0 2px 2px var(--gold);
  text-decoration: none;
  text-align: center;
  color: var(--black);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
  text-transform: uppercase;
  background: var(--gold);
}

/***** Close Buttons ****/
.closebutton {
  display: block;
  float: right;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  background-color: inherit;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: var(--gold);
  font-size: 32px;
  cursor: pointer;
}
.closebutton:hover {
  color: var(--black);
  background: var(--gold);
}

/***** Page Header *****/
header {
  margin: 0;
  display: grid;
  grid-template-areas:
    "logo name";
  grid-template-columns: 5% 1fr;
  grid-gap: 2.5%;
  align-items: center;
}
#pagelogo {
  grid-area: logo;
  cursor: pointer;
  transition: transform .2s;
}
#pagelogo:hover {
  transform: scale(1.05);
}
#pagename {
  margin: 0;
  grid-area: name;
}
#pagename a {
  display: inline-block;
  text-decoration: inherit;
  font-size: 18pt;
  text-align: left;
  color: var(--gold);
  cursor: pointer;
  transition: transform .2s;
}
#pagename a:hover {
  transform: scale(1.05);
}

/***** Navigation *****/
nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-areas:
    "link1 link2 link3 link4";
  grid-template-columns: 17.5% 17.5% 17.5% 17.5%;
  grid-template-rows: auto;
  grid-gap: 10%;
  text-align: center;
}
.navlink {
  padding: var(--gridpads);
  display: inline-block;
  width: 100%;
  position: relative;    
  text-decoration: none;
  font-size: 14pt;
  color: var(--gold);
  cursor: pointer;
  transition: transform .2s;
}
.navlink:hover {
  transform: scale(1.05);
  background: var(--gold);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black);
}
#navlink1 {
  grid-area: link1;
}
#navlink2 {
  grid-area: link2;
}
#navlink3 {
  grid-area: link3;
}
#navlink4 {
  grid-area: link4;
}

/***** Call to Action *****/
#pageaction {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    "call photo1";
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-gap: 2%;
  align-items: center;
  text-align: center;
}
#pagecall {
  margin: 20px;
  grid-area: call;
  font-size: 24px;
  color: var(--white);
}
#formcontainer {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(0px) opacity(0);
  visibility: hidden;
  transition: backdrop-filter 0.4s;
}
.formup {
  background: var(--black);
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 33%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%,-50%) scale(0.1);
  visibility: hidden;
  color: var(--gold);
  font-size: 16pt;
  box-shadow: 0 0 2px 2px var(--gold);
  transition: transform 0.4s, top 0.4s;
}
.formup label {
  font-size: 14pt;
}
.formup h4 {
  margin: 20px;
  color: var(--white);
  font-size: 12pt;
}
.openform {
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
#thankyoutext {
  visibility: hidden;
  color: white;
}
#pagephoto1 { 
  grid-area: photo1;
  display: block;
  border-radius: 20px;
}
#pagephoto1 img {
  border-radius: 20px;
}

/***** Secondary Action Cards *****/
#pagecards {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    "cardstitle cardstitle"
    "card1 card2";
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  align-items: center;
  text-align: center;
}
#pagecardstitle {
  margin: 0;
  margin-bottom: 20px;
  grid-area: cardstitle;
 }
 #pagecard1 { 
   grid-area: card1; 
 }
 #pagecard1 button { 
  font-size: 16pt;
  width: 50%;
  height: 125px;
}
 #pagecard2 { 
   grid-area: card2; 
 }
 #pagecard2 button { 
  font-size: 16pt;
  width: 50%;
  height: 125px;
}

/***** Article Content *****/
#pagecontent1 {
  display: grid;
  grid-template-areas:
    "blogtitle blogtitle blogtitle"
    "blog1 blog2 blog3";
  grid-template-columns: 31% 1fr 31%;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  align-items: center;
  text-align: center;
}
#pageblogtitle {
  margin: 0;
  margin-top: 20px;
  grid-area: blogtitle;
}
.feedblog {
  margin: 20px;
}
#feedblog1 { 
  grid-area: blog1;
}
#feedblog2 { 
  grid-area: blog2;
}
#feedblog3 { 
  grid-area: blog3;
}

/***** Social Media Content *****/
#pagecontent2 {
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    "feedtitle feedtitle"
    "twitter youtube";
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  align-items: top;
  text-align: center;
}
#pagefeedtitle {
  margin: 0;
  margin-top: 20px;
  grid-area: feedtitle;
}
#feedtwitter { 
  margin-top: 20px;
  grid-area: twitter;
}
#feedyoutube { 
  margin-top: 20px;
  grid-area: youtube; 
}

/***** Introduction *****/
#pageintro {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    "introtitle introtitle"
    "photo2 about";
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  align-items: center;
  text-align: center;
  font-size: 20pt;
  color: var(--gold);
}
#pageintrotitle {
  margin: 0;
  margin-bottom: 20px;
  grid-area: introtitle;
}
#pagephoto2 { 
  grid-area: photo2;
}
#pagephoto2 img {
  border-radius: 20px;
}
#pageabout { 
  margin: 20px;
  grid-area: about;
}

/***** Footer *****/
footer {
  margin-top: 20px;
  text-align: center;
}
#sociallinks a {
  text-decoration: none;
}
.social {
  max-width: 48px;
}
.social:hover {
  transform: scale(1.1);
}

/***** Hidden Element Class *****/
.hiddenelement {
  visibility: visible;
}